.form {
	background: #FFF;
	margin: 0 auto -15rem;
	max-width:550px;
	padding: 3rem;
	width:100%;
}

.form-group {
	display: flex;
	margin: 1rem 0;
}

.hidden {
	display: none;
}

.tel {
	text-align: center;
	color: #666;
	padding-top: 2rem;
	border-top: 1px solid #CCC;
	margin-top: 2rem;
}

label {
	width: 120px;
	display: inline-block;
	text-align: right;
	padding-right: 1rem;
	color: #333;

}

input, textarea {
	flex: 1;
	border: 1px solid #CCC;
	padding: 0.75rem;
	border-radius: 0.25rem;
	outline: none;
}

textarea {
	resize: none;
	height: 7.5rem;
}

input:active, input:focus,
textarea:active, textarea:focus {
	border: 1px solid #03A0E2;
}

.hidden {
	display: none
}

::placeholder {
	color: #A0A0A5;
	font-weight: lighter;
}

@media (max-width: 767px) {
	.form {
		padding: 1.5rem;
	}

	.form-group {
		flex-direction: column;
	}

	label {
		align-self: flex-start;
		width: auto;
		font-size: small;
		position: relative;
		top: 0.75rem;
		left: 1rem;
		background: #FFF;
		padding: 0 0.5rem;
	}
}
