.Header {
  background:
    url('../../static/img/landing.jpg')
    center 0 / cover no-repeat;
  padding: 12rem 3rem 10rem;
  text-align: center;
}

.Header-title {
  color: #FFF;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

.pad-left {
  margin-left: 0.75rem;
}

@media (max-width: 767px) {
  .Header {
    padding: 7.5rem 3rem 5rem;
  }
  .Header-title {
    font-size: 1.75rem;
  }
}
